nav{
	
	height: 30px;
	background:white;
	opacity: 0.8;

}
nav a{
	
	position: relative;
	top: 1%;
	margin: 2px;
}
body{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("html.png");
	background-size: cover;
	background-position: center;
	font-size: 20px;
	font-family: sans-serif;
	height: 100vh;
	background-color: #99ebff;
	width: 100%;
}
h2{
	font-family: sans-serif;
	position: relative;
	padding: 5px 5px 5px 5px;
	margin: 20px;
	color: #1aff8c;
	font-size: 40px;
	text-shadow: 2px 5px 5px black; 
	background-color: #ff4d4d;
	width: 300px;
	text-align: center;
	font-style: italic;


}
#box{
	font-size: 25px;
	font-style: inherit;
	top: 30%;
	position: relative;
	margin: 20px;
	color: #00ff99;
	word-spacing: 2px;
	letter-spacing: 1px;
	height: auto;
}
h3{
	color: #003322;
	text-decoration: underline;
}
